<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<title>Dragon Ball Universe</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<header>
  <h1>🐉 Dragon Ball Universe</h1>
</header>

<div class="filters">
  <input type="text" id="name" placeholder="Nome">

  <button onclick="searchCharacters()">Personagens</button>
  <button onclick="searchPlanets()">Planetas</button>
  <button onclick="resetScroll()">Explorar Tudo</button>
</div>

<div class="grid" id="grid"></div>

<div class="modal" id="modal">
  <div class="modal-content" id="modalContent"></div>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>